<table class="table mt-3 ">

	<tbody>
		<tr>
			<th>id</th>
			<td>{{employee.id}}</td>

		</tr>
		<tr>
			<th>First Name</th>
			<td>{{employee.first_name}}</td>

		</tr>
		<tr>
			<th>Last Name</th>
			<td>{{employee.last_name}}</td>

		</tr>
		<tr>
			<th>Email</th>
			<td>{{employee.email}}</td>

		</tr>
		<tr>
			<th>Job Title</th>
			<td>{{employee.job_title}}</td>

		</tr>
		<tr>
			<th>Date of Birth</th>
			<td>{{employee.dob}}</td>

		</tr>
		<tr>
			<th>Company Name</th>
			<td>{{employee.company_name}}</td>

		</tr>
		<tr>
			<th>Language</th>
			<td>{{employee.language}}</td>

		</tr>
		<tr>
			<th>status</th>
			<td>{{employee.status}}</td>

		</tr>
		<tr>
			<th>preferred-color</th>
			<td>{{employee.preferred_color}}</td>

		</tr>


	</tbody>

</table>